<div class="loacation-dialog-container">
    <p>Please provide your details to see QR code details.</p>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="fields">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" id="name" />
                <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">  
                    <div *ngIf="f.name.errors.required">Name is required.</div>  
                    <div *ngIf="f.name.errors.maxLength">Name should not exceed 100 characters.</div>  
                </div> 
            </div>

            <div class="fields">
                <label>Mobile Number</label>
                <input type="text" class="form-control" formControlName="mobile" id="mobile" />
                <div *ngIf="f.mobile.touched && f.mobile.invalid" class="alert alert-danger">  
                    <div *ngIf="f.mobile.errors.required">Mobile Number is required.</div>  
                    <div *ngIf="f.mobile.errors.pattern">Please, Enter 10 digit Mobile Number.</div>  
                </div> 
            </div>

            <div class="fields">
                <label>Location</label>
                <input type="text" class="form-control" formControlName="location" id="location" />
                <div *ngIf="f.location.touched && f.location.invalid" class="alert alert-danger">  
                    <div *ngIf="f.location.errors.maxLength">Location should not exceed 100 characters.</div>  
                </div> 
            </div>

            <div class="dialoge-button">
                <button>Cancel</button>
                <button class="proceed-green">Proceed</button>
            </div>
        </form>

    </div>
</div>