<!-- <p>invalid component works!!!</p> -->
<div class="invalid-main">
    <div class="invalid-container">
        <div class="invalid-icon-name">
            <!-- <div class="inavlid-logo">
                <img src="../../../assets/icons/invalid.svg">
            </div> -->
            <div class="invalid-heading">Server not available</div>
            <div class="invalid-sentense">
                <span>Please try after some time</span>
                <!--<span>It could be a <b style="color:red;">Fake</b> product</span>-->
            </div>
        </div>

    </div>

    <div class="check-heading">
        <!--<span id="addPic">Please send a picture of this code for further checking.</span>-->
        <div class="social-connection">
            <a href="https://api.whatsapp.com/send?phone={{number}}">
                <img src="../../../assets/icons/whatsapp.svg">
            </a>
            <span>+91-xxx-yyy-zzz</span>
        </div>
        <div class="social-connection">
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{mail}}">
                <img src="../../../assets/icons/gmail.svg">
            </a>
            <span>customercare@dhanuka.com</span>
        </div>
        <div class="social-connection">
            <a href="tel:{{number}}">
                <img src="../../../assets/icons/phone.svg">
            </a>
            <span>+91-xxx-yyy-zzz</span>
        </div>
    </div>

</div>