.header-main {

    display: flex;
    flex-direction: column;
    width: 100%;

    .top-search {
        display: flex;
        flex-direction: row-reverse;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        min-height: 50px;
        align-items: center;
        color: #009C56;
    }

    .pd-lf-rt-2 {
        padding: 0 2%;
        font: normal normal bold 15px/20px Open Sans;
    }

    input {
        border-radius: 35px;
        width: 180px;
        border: 1px solid black;
        overflow: hidden;
        min-height: 25px;
    }

    .menu-bar {
        display: flex;
        background: #009C56 0% 0% no-repeat padding-box;

        .hamburger{
            display: none;
        }

        .menu-options {
            width: 50%;
            display: flex;


            ul {
                list-style: none;
                display: flex;
                width: 100%;
                color: #FFFFFF;

                li {
                    padding: 0 7px;
                    margin: 0;
                    font: normal normal bold 15px/20px Open Sans;
                }
            }
        }

        .pd-left-10 {
            padding-left: 10%;
        }
    }
    .header-logo {
        position: absolute;
        left: 46%;
        top: 5%;

        img {
            height: 100px;
            width: 100px;
        }
    }
    .greyback{
        background-color: #F2F8F2;
        min-height: 45px;
    }
}
.HamShow{
    display: none;
}
.HamHide{
    display: none;
}

@media only screen and ( max-width:640px) and (min-width:320px) {
    // hambuger
    .HamShow{
        position: fixed;
        width: 100%;
        z-index: 11;
        display: block;
    }

    .HamHide{
        display: none;
    }

    .HamStructure{
        display: flex;
    }

    .HamView{
        width: 80%;
    }

    .HamBlank{
        width: 20%;
        opacity: .44;
        background-image: linear-gradient(to right, #727272 , #b7bac0);
    }

    .HamTop{
        display: flex;
        background: #009C56;
        justify-content: space-between;
        padding: 10px;
        color:white;
        font: normal normal bold 14px/18px Open Sans;
    }

    .HamMenu{
        background: #E9F1E9 0% 0% no-repeat padding-box;
        min-height: 100vh;
    }

    .HamOption{
        padding-top: 30%;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font: normal normal normal 14px/18px Open Sans;
                padding: 15px;
            }
        }
    }

    // main header
    .header-main {
        .top-search{
            display:none;
        }
        .menu-bar{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            z-index: 1;
            .hamburger{
                display: block;
                padding: 15px;
            }
            .menu-options{
                    display: none;
            }
        }
        .header-logo{
            left:40%;
            z-index: 2;
            img {
                height: 65px;
                width: 65px;
            }
        }
    }
}