<!-- <p>header component works!!</p> -->
<div class="header-main">
    <div class="top-search">
        <div></div>
        <div></div>
        <div class="pd-lf-rt-2">
            <input placeholder="Search...">
        </div>
        <div class="pd-lf-rt-2">ENGLISH</div>
        <div class="pd-lf-rt-2">SELECT LANGUAGE</div>
    </div>
    <div class="menu-bar">
        <div class="menu-options pd-left-10">
            <ul>
                <li>HOME</li>
                <li>ABOUT US</li>
                <li>R&D</li>
                <li>CROP SOLUTIONS</li>
            </ul>
        </div>
        <div class="menu-options">
            <ul>
                <li>IVESTORS</li>
                <li>CARRERS</li>
                <li>CONTACT US</li>
            </ul>
        </div>
    </div>
    <div class="header-logo">
        <img src="../../../assets/icons/Logo.png">
    </div>
    <div class="greyback">
    <div>
</div>