<!-- <p>vaid component works!!!</p> -->
<div class="valid-main">
    <div class="heading">
        <div class="productImg" style="background-image: url('../../../assets/icons/Poison.svg');">
            <img class="geniune" src="../../../assets/icons/geniune.svg">
        </div>
        <div class="thanksmsg" >Thank you for scanning GENIUNE DHANUKA Product QR Code details:</div>
    </div>
    <div class="table-container">
        <table>
            <ng-container *ngFor="let item of data | keyvalue">
                <tr *ngIf="item.key != 'Cautionary Symbol'">
                    <td class="right-border bottom-border">{{item.key}}</td>
                    <td class="bottom-border">{{item.value}}</td>
                </tr>
                <tr *ngIf="item.key == 'Cautionary Symbol'">
                    <td class="right-border bottom-border">{{item.key}}</td>
                    <td class="bottom-border" id="caution_td"><img src="{{item.value['imgurl']}}"><p>{{item.value['name']}}</p></td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>