.main-container{
    display: flex;
}
.valid-main {
    width: 65%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    padding-bottom: 5%;
    .heading{
        display: flex;
        margin-bottom: 10px;
        .productImg{
            min-width: 100px;
            min-height: 100px;
            background-repeat: no-repeat;
            max-height: 124px;

            .product-url {
                max-height: 124px;
                min-height: 100px;
            }
        }
        .thanksmsg{
            font: normal normal bold 30px/41px Open Sans;
            color: #009C56;
            display: flex;
            padding-left: 10px;
        }
        .product{
            width: auto;
        }
        .geniune{
            width: 50%;
            margin-left: auto;
            margin-top: auto;
            display: flex;
            // margin-top: 50%;      
            position: relative;
            bottom: 40%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
        }
    }
    .table-container {
        table {
            width: 100%;
            // border-right: 2px solid #AFD4A6;
            // border-top: 2px solid #AFD4A6;
            // border-left: 2px solid #AFD4A6;
            border: 2px black solid;
            border-spacing: 0;

            .special_td{
                display: flex;
                align-items: center;
            }

            .name {
                a {
                    color: black;
                }
            }

            .right-border {
                border-right: 2px solid #000000;
            }
            .bottom-border {
                // border-bottom: 2px solid #86d173;
                border: 2px solid black solid;
                font: normal normal normal 15px/26px Roboto;
                /* letter-spacing: 0px; */
                color: #2B2B2B;
                padding-left: 10px;
                border-bottom: 2px solid #000000;           
            }
        }

        // table tr:nth-child(even){
        //     background: #e9efe8 0% 0% no-repeat padding-box;
        // }
        // table tr:nth-child(odd){
        //     background: #d7e1cf 0% 0% no-repeat padding-box;
        // }
        table tr {
            background: rgb(248 248 248 / 60%);
        }
    }
    #caution_td{
        display:flex;
        min-height: 52px;
        p{
            margin-top: auto;
            margin-bottom: auto;
            font: normal normal bold 15px/26px Roboto;
        }
    }
    #redirectLink{
        a{
            text-decoration: none;
                font: normal normal bold 15px/26px Roboto;
                color: #0044FF;
                cursor: pointer;
        }
    }
}

.backgroundImg{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
}


@media only screen and ( max-width:640px) and (min-width:320px) {
    .valid-main{
        width: 90%;
        padding-bottom: 10px;
        .heading{
            .thanksmsg{
                font: normal normal bold 14px/19px Open Sans;
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 10px;
            }
        }
    }
    .main-container{
        flex-direction: column;
    }
}

#mobileGrass{
    display: none;
}
#webgrass{
    display: block;
}


.TopHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
}

.leftIcon {
    img{
        padding: 25px;
        padding-left: 0;
        padding-right: 0;
    }
}

.middelHeading{
    color: #00642e;
    h1{
        width: 90%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
    }

}

.MiddleMain{
    position: relative;
}

.Middle{
    display: flex;
}

.endFooter{
    width: 100%;
    z-index: 12;
    img{
        width: 100%;
    }
}
.RightImg{
    position:relative;
    margin-right: auto;
    margin-left: auto;
    img{
        // margin-left: 10%;
        width: auto;
    }
}
.transform{
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    padding-left: 10%;
}

.grass{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding-bottom: 3%;
}

.FormPopup{
    width: 25%;
    padding: 5%;
    z-index: 11;
}

.form{
    background: #03341e;
    height: 100%;
    padding: 10px;
    color: white;
}
.fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input{
        background: #00642e 0% 0% no-repeat padding-box;
        border: 0.5px solid #707070;
        border-radius: 2px;
        min-height: 35px;
    }
}
.proceed-green{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    position: relative;
    margin-top: 10%;
    img{
        height: 40px;
        width: 60%;
    }

    p{
        position: absolute;
        top: 25%;
        left: 32%;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
}

.kissan{
    height: 47vh;
}

.mobileHeading{
    display: none;
}

#MobileHeader{
    display: none;
}
.RightSide{
    width: 50%;
}

@media only screen and ( max-width:640px) and (min-width:320px) {
    .main{
        height: auto;
    }
    #webHeading{
        display: none;
    }
    .leftIcon{
        img{
            width: 110px;
            padding:10%;
        }
    }

    .middelHeading{
        display: none;
    }

    .rightIcon{
        img{
            width: 65px;
        }
    }

    .Middle{
        flex-direction: column-reverse;
    }

    .FormPopup{
        width: auto;
    }
    .fields{
        margin-bottom: 5px;
        input{
            min-height: 25px;
        }
    }
    .proceed-green{
        margin-top: 2%;
        img{
            height: 30px;
            width: 50%;
        }
        p{
            font-size: 14px;
        }
    }

    .RightImg{
        width: -webkit-fill-available;
        .transform{
            position: absolute !important;
        }
        img{
            width: -webkit-fill-available;
            position: relative;
            margin-left: 0;
        }
    }

    .mobileHeading{
        display: block;
        p{
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;   
            color: #00642e;     
        }
    }
    #MobileHeader{
        display: flex;
    }
    .backdiv{
        position: fixed;
        z-index: -1;
        img{
            position: initial;
        }
    }
    .RightSide{
        width: 95%;
        margin:auto;
    }

    #mobileGrass{
        display: block;
        padding-bottom:0;
    }
    #webgrass{
        display: none;
    }
}