<!-- <p>invalid component works!!!</p> -->
<div class="invalid-main">
    <div class="invalid-container">
        <div class="invalid-icon-name">
            <div class="inavlid-logo">
                <img src="../../../assets/icons/invalid.svg">
            </div>
            <div class="invalid-heading">Invalid Code</div>
            <div class="invalid-sentense">
                <span>The code you have scanned is invalid.</span>
                <span>It could be a <b style="color:red;">Fake</b> product</span>
            </div>
        </div>

    </div>

    <div class="check-heading">
        <span id="addPic">Please send a picture of this code for further checking.</span>
        <div class="social-connection">
            <a href="https://api.whatsapp.com/send?phone=91{{whatsapp}}" target="_parent">
                <img src="../../../assets/icons/whatsapp.svg">
                <span>+91-{{whatsapp}}</span>
            </a>

        </div>
        <div class="social-connection">
            <!-- <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{mail}}" target="_parent"> -->
            <a href="mailto:{{mail}}" target="_parent">
                <img src="../../../assets/icons/gmail.svg">
                <span>{{mail}}</span>
            </a>
        </div>
        <div class="social-connection">
            <a href="tel:{{number}}" target="_parent">
                <img src="../../../assets/icons/phone.svg">
                <span>+91-{{number}}</span>
            </a>
        </div>
    </div>

</div>