@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Light.woff2') format('woff2'),
        url('HelveticaLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std Black Condensed';
    src: url('HelveticaLTStd-UltraComp.woff2') format('woff2'),
        url('HelveticaLTStd-UltraComp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-BlkCond.woff2') format('woff2'),
        url('HelveticaLTStd-BlkCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-ExtraComp.woff2') format('woff2'),
        url('HelveticaLTStd-ExtraComp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Bold.woff2') format('woff2'),
        url('HelveticaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std bold';
    src: url('HelveticaLTStd-Comp.woff2') format('woff2'),
        url('HelveticaLTStd-Comp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

