.main{
    // background:url('../../../assets/pack5/Web-BG.png') ;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 100%;
    .backgroundImg{
        position: absolute;
        z-index: -1;
        height: 100vh;
        width: 100%;
    }
}



.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.TopHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
}

.leftIcon {
    img{
        padding: 25px;
        padding-left: 0;
        padding-right: 0;
    }
}

.middelHeading{
    color: #00642e;
    h1{
        width: 90%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        font-size: 35px;
    }

}

.MiddleMain{
    position: relative;
}

.Middle{
    display: flex;
}

.endFooter{
    width: 100%;
    z-index: 12;
    img{
        width: 100%;
        display: block;
    }
}
.RightImg{
    position:relative;
    width: 60%;
    img{
        margin-left: 10%;
        width: 90%;
    }
}
.transform{
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    // padding-left: 10%;
}

.grass{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.FormPopup{
    width: 30%;
    padding: 5%;
    padding-right: 0;
    z-index: 11;
}

.form{
    background: #03341e;
    height: 100%;
    padding: 10px;
    color: white;
}
.fields{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    input{
        background: #00642e 0% 0% no-repeat padding-box;
        border: 0.5px solid #707070;
        border-radius: 2px;
        min-height: 35px;
        outline: 0;
        &:focus{
            outline: 0;
            background: #00642e 0% 0% no-repeat padding-box;
        }
    }
}
.proceed-green{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    position: relative;
    margin-top: 10%;
    img{
        height: 40px;
        width: 60%;
    }

    p{
        position: absolute;
        top: 25%;
        left: 32%;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }
}

.mobileHeading{
    display: none;
}

#input-wrapper {
    .fixed-text {
        position: relative;
        background: #00642e 0% 0% no-repeat padding-box;
        border: 0.5px solid #707070;
        border-radius: 2px;
        display: flex;
        align-items: center;
        
        input{
            border: 0;
            background: transparent;
            width: 100%;
            outline:none
        }
    }

}

@media only screen and ( max-width:640px) and (min-width:320px) {
    .main{
        height: auto;
    }
    #input-wrapper{
        .fixed-text{
            top:30px;
        }
    }

    .leftIcon{
        img{
            width: 110px;
            padding:10%;
        }
    }

    .middelHeading{
        display: none;
    }

    .rightIcon{
        img{
            width: 65px;
        }
    }

    .Middle{
        flex-direction: column-reverse;
    }

    .FormPopup{
        width: auto;
        padding-right: 5%;
    }
    .fields{
        margin-bottom: 5px;
        position: relative;
        input{
            min-height: 25px;
        }
    }
    .proceed-green{
        margin-top: 2%;
        img{
            height: 30px;
            width: 50%;
        }
        p{
            font-size: 14px;
        }
    }

    .RightImg{
        width: auto;
        .transform{
            position: absolute !important;
        }
        img{
            width: -webkit-fill-available;
            position: relative;
            margin-left: 0;
        }
    }

    .mobileHeading{
        display: block;
        p{
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;   
            color: #00642e;     
        }
    }
}

input:-webkit-autofill , input:-webkit-autofill:focus{
    -webkit-box-shadow:0 0 0 50px #00642e inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

@media only screen and ( min-height:800px) {
    .main{
        height: 100vh;
    }
}