<div class="main" style="background:url('../../../assets/pack5/Web-BG.png');background-repeat: no-repeat;
background-size: cover;">
    <!--<img class="backgroundImg" src="../../../assets/pack5/Web-BG.png">-->
    <div class="container">
        <div class="TopHeader">
            <div class='leftIcon'>
                <img src="../../../assets/pack5/aazadi.png">
            </div>
            <div class="middelHeading">
                <h1>PROVIDING INNOVATIVE CROP SOLUTION TO INDIAN AGRICULTURE FROM PAST 4 DECADES</h1>
            </div>
            <div class='rightIcon'>
                <img src="../../../assets/pack5/dhanuka logo.png">
            </div>
        </div>
        <div class="MiddleMain">
            <img class="grass" src="../../../assets/pack5/anaag.png">
            <div class='Middle'>
                <div class="RightImg">
                    <img class="kissan" src="../../../assets/pack5/kisaan.png">
                    <img class="transform" src="../../../assets/pack5/transforming.png">
                </div>
                <div class="FormPopup">
                    <div class="form">
                        <p>Please provide your details to view code verification result and stay connected with Dhanuka.</p>
                        <div class="container">
                            <form [formGroup]="form">
                                <!-- (ngSubmit)="submit()" -->
                    
                                <div class="fields">
                                    <label>*Name</label>
                                    <input type="text" class="form-control" formControlName="name" id="name" max="100" />
                                    <div *ngIf="f.name.touched && f.name.invalid" class="alert">
                                        <div *ngIf="f.name.errors.required">Name is required.</div>
                                        <div *ngIf="f.name.errors.maxLength">Name should not exceed 100 characters.</div>
                                    </div>
                                </div>
                    
                                <div id="input-wrapper" class="fields">
                                    <label>*Mobile Number</label>
                                    <div class="fixed-text">
                                        <img src="../../../assets/icons/flag.png">
                                        <span>+91</span>
                                        <input #mobile type="tel" placeholder="9 9 9 9 9 9 9 9 9" class="form-control" formControlName="mobile" id="mobile" (keyup)="validateNumber($event)" />
                                    </div>
                                    <div *ngIf="f.mobile.touched && f.mobile.invalid" class="alert">
                                        <div *ngIf="f.mobile.errors.required">Mobile Number is required.</div>
                                        <div *ngIf="f.mobile.errors.pattern ">Please, Enter a valid 10 digit Mobile Number.</div>
                                    </div>
                                </div>
                    
                                <div class="fields">
                                    <label>*Location</label>
                                    <input type="text" class="form-control" formControlName="location" id="location" max="100" />
                                    <div *ngIf="f.location.touched && f.location.invalid" class="alert">
                                        <div *ngIf="f.location.errors.maxLength">Location should not exceed 100 characters.</div>
                                    </div>
                                </div>
                    
                                <div class="dialoge-button">
                                    <!--<button (click)="onClose()">Cancel</button>-->
                                    <button (click)="submit()" [class.disable]="!form.valid" [disabled]="!form.valid" class="proceed-green">
                                       <!--<img src="./../../../assets/pack1/view-result.png">-->
                                        <span>VIEW RESULT</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mobileHeading">
                        <p>PROVIDING INNOVATIVE CROP SOLUTION TO INDIAN AGRICULTURE FROM PAST 4 DECADES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="endFooter">
        <img src="../../../assets/pack5/trust-of.png">
    </div>
</div>
